.label-word {
    font-size: 20px;
}
.small-word {
    font-size: 15px;
    color: gray;
}
.search-box {
    flex: 1;
    padding: 8px 12px;
    font-size: 30px;
    border: 2px solid #ccc;
    border-radius: 5px;
}
.search-section{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
.btn {
    padding: 8px 16px;
    font-size: 30px;
    color: white;
    background-color: rgb(132, 191, 73);
    border: none;
    border-radius: 5px;
    cursor: pointer; /* 練習的時候發現加好玩的, 可以讓游標變pointer */
}
.output-font {
    font-size: 20px;
}